html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  margin: 0;
  padding: 60px 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: #191919;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.nav-bar * {
  font-size: 22px !important;
}

.nav-bar .nav-links {
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
  &:hover {
    color: #007FFF;
    background-color: #e4f1ff;
  }
}

@media screen and (max-width : 899px) {
  .nav-bar .nav-links
  {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.logo {
  height: 3rem;
  cursor: pointer;
  position: relative;
  
}

@media screen and (max-width: 1200px) {
   .logo {
    height: 30px;
   }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div>td {
  background-color: #007FFF;
}